<!DOCTYPE html>
<html>
<head>
  <title>PaymentsTracker</title>
  <%= stylesheet_link_tag    "payments_tracker/application", :media => "all" %>
  <%= javascript_include_tag "payments_tracker/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
